.pl{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bolder;
}
.pl-title{
    padding: 30px 100px;
    font-size: 50px;
}
.pl-desc{
    margin:10px 0px;
}
.pl-list{
    display: flex;
    flex-wrap: wrap;
}