.c{
  /*height: 100vh;  */
  position: relative;
}
.c-bg{
    width: 20px;  
    height: 100%;
    background-color: green;
    position: absolute;
}
.c-wrapper{
    padding: 50px 100px;
    display: flex;
    height: 100vh;
}
.c-left{
    flex:1;
}
.c-right{
    flex:1;
}
.c-title{
    width: 80%;
}
.c-info-item{
    display: flex;
    align-items: center;
}
.c-icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 300;
}
.c-title{
    width: 80%; 
    height: 5vh; 
}

form{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 15px;
    display: block;
    position: relative;
    
}
label{
    display: inline-block;
    float: left;
    clear: left;
    display: block;
    text-align: right;
    font-weight: bold;
}
input{
    width: 100%;
    display: inline-block;
    float: left;
    clear: left;
    height: 25px;
    margin-bottom: 20px;

}
textarea{
    width: 100%;
}
button{
    padding: 5px 10px 8px 10px;
    margin-top: 20px;
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    margin: 5px;
    
}
.button:hover{
    background-color: orange;
    color: black;
    font-weight: 500;
}/*
@media screen and (max-width: 480px){
    .c-wrapper{
        flex-direction: column;
       
    }
    form{
        margin-top: 20px;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        display: block;
        position: relative;
        
    }
    button{     
      width: 100%;     
    }
}*/
@media screen and (max-width: 600px){
 
    .c-wrapper{
        flex-direction: column;
        height: 700vh;
    }
    .c-bg{
        display: none;
    }
    .c-left{
     height: 10vh;
    }
    .c-title{
        width: 80%; 
        height: 150vh; 
    }
 
    form{
        margin-top: 20px;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        display: block;
        position: relative;
        
    }
    button{     
      width: 100%;     
    }
}